/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #11cb5f
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$navbarBgColor = #2E2D4D
$navbarColor = #fafafa
